<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="active" href="">Help</a></li>
            </ul>
        </header>
        <h1>Help Page</h1>
        <div class="container">
            <p>Lisa Plag - <a href= "mailto:lplag@student.tudelft.nl">lplag@student.tudelft.nl</a></p>
            <p>Peter van den Berg - <a href= "mailto:p.j.l.vandenberg@student.tudelft.nl">p.j.l.vandenberg@student.tudelft.nl</a></p>
        </div>
    </body>
</html>