<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
        </header>

        <h1>Welcome to TUtube!</h1>
        <p>Are you already a member?</p>
        <a href="/login">Yes, login!</a>
        <a href="/register">No, register!</a>

    </body>
</html>
