<!-- views/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li style="float:right"><a href="/help">Help</a></li>
            </ul>
        </header>
        <h1>Log in here!</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                    <input
                      type="username"
                      id="username"
                      name="username"
                      class="form-control"
                      placeholder="Enter Username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
                      required 
                    />
                  </div>          
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
          <p>No Account? <a href="/register">Register</a></p>
    </body>
</html>

