<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees/create">Create User</a></h3>
      <h1>User List</h1>
      <% if(userlist.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<userlist.length;i++) { %>
            <tr>
              <td><a href="/login"><%= userlist[i].username%></a></td>
              <td><%= userlist[i].firstname%></td>
              <td><%= userlist[i].lastname%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No users found.</div>
      <% } %>
    </div>
  </body>
</html>