<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li style="float:right"><a href="/help">Help</a></li>
            </ul>
        </header>
        <h1>Our Members</h1>
        <div class="container">
            <% if(userlist.length>0) { %>
            <table class="list-table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Name</th>
                  <th>Surname</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<userlist.length;i++) { %>
                  <tr>
                    <td><a href="/login"><%= userlist[i].username%></a></td>
                    <td><%= userlist[i].firstname%></td>
                    <td><%= userlist[i].lastname%></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <% } else { %>
              <div>No users found.</div>
            <% } %>
            <h4><a href="/register">Create new user</a></h4>
          </div>

    </body>
</html>

