body {
      font-family: verdana;
      background-color: whitesmoke}

header {padding-left: 30px;
        background-color: #00A6D6;
        font-size: 30px;
        color: #FFFFFF;
    }

h1 {padding-left: 30px;}
