body {
  font-family: verdana;
  background-color: whitesmoke;
  }

header {
  padding-left: 30px;
  padding-bottom: 10px;
  position: relative;
  background-color: #00A6D6;
  font-size: 30px;
  color: #FFFFFF;
  }

h1 {
  padding-left: 30px;
}

input {
  padding-left: 30px;
}

.container {
  padding-left: 30px;
}


/* Add a black background color to the top navigation */
.topnav {
  margin: 0 0 0 0;
  position: relative;
  list-style-type: none;
  float: right;
  background-color: #00A6D6;
  overflow: hidden;
}

.topnav li {
  float: left;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: whitesmoke;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: bold;
  color: black;
}


#myInput {
  background-image: url('/images/searchicon.jpg'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#myUL li a {
  float: left;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li img {
  float: left;
  width: 300px;
  line-height: 300px;
  padding: 10px;
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #00A6D6; /* Add a hover effect to all links, except for headers */
}

#myUL li #caption {
  text-align: center;
  font-size: 13px;
}
